@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
/* SOURCE : From Scratch - Développement Web */
* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  background: #2f3542;
  color: #dfe4ea;
}
body h1 {
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-size: 3rem;
}
body h1 span, body h1 i {
  color: #ffa502;
}
body h3 {
  color: #ffa502;
  font-size: 1.5rem;
}



#quiz{
  border: 1px solid white;
}
body .container .choices {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto 3rem;
  width: 500px;
}
body .container .choices button {
  flex: 1 0 45%;
  width: 200px;
  height: 80px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: 0.4rem;
  outline: none;
  background: #dfe4ea;
  user-select: none;
  font-weight: 600;
}
body .container .choices button:hover {
  background: #ffa502;
  transition: 0.5s;
}
body .container .choices button:active {
  transform: scale(0.9);
  transition: transform 0.1s;
}
body .container .choices button p {
  font-size: 1.3rem;
}
body #progress {
  font-size: 1.3rem;
  color: #ffa502;
}


.score-modal{
  border: 1px solid gray;
  box-shadow: 1px 0px 1px 1px #000;
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.close-modal{
  align-self: flex-end;
  margin: 10px;
  padding: 5px;   
}
.hide{
  display: none;
}